<h1>Editing budget</h1>

<% form_for(@budget) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ext_id %><br />
    <%= f.text_field :ext_id %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :club_id %><br />
    <%= f.text_field :club_id %>
  </p>
  <p>
    <%= f.label :expense_in_cents %><br />
    <%= f.text_field :expense_in_cents %>
  </p>
  <p>
    <%= f.label :income_in_cents %><br />
    <%= f.text_field :income_in_cents %>
  </p>
  <p>
    <%= f.label :subsidy_in_cents %><br />
    <%= f.text_field :subsidy_in_cents %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @budget %> |
<%= link_to 'Back', budgets_path %>