<h1>Editing alert</h1>

<% form_for(@alert) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @alert %> |
<%= link_to 'Back', alerts_path %>