<h1>Editing home_link</h1>

<% form_for(@home_link) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :cardinality %><br />
    <%= f.text_field :cardinality %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @home_link %> |
<%= link_to 'Back', home_links_path %>